.AddApiaryModal {
	position: fixed;
	z-index: 1;

	left: 0;
	top: 0;

	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
}

.AddApiaryModal .Textbox {
	margin: 15% auto;
	padding: 20px;

	min-width: 365px;
	width: 32%;

	background-color: #fefefe;
	border: 2px solid #888;
	border-radius: 6px;
}

.AddApiaryModal .Textbox h1 {
	padding: 1rem;
	padding-left: 0;
}

.AddApiaryModal .Textbox label {
	display: flex;
	width: 320px;
}

.AddApiaryModal .Textbox label:last-of-type {
	display: inline;
	width: 320px;
}

.AddApiaryModal .Textbox label input {
	flex: 1;
}

.AddApiaryModal .Textbox button {
	float: right;
}
