.Header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 7.75rem;

  border-bottom: 2px solid rgba(51, 51, 51, 0.233);

  text-align: center;
  font-size: 1.2rem;
  font-weight: 360;
}

.Header .Logo {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 100vw;
  min-height: 5.5rem;
  max-height: 5.5rem;
}

.Header .Logo img {
  min-height: 5.5rem;
  max-height: 5.5rem;
  object-fit: contain;
}

.Header .ButtonBar {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 2.175rem;
  max-height: 2.175rem;
}

.Header .ButtonBar .header-button{
  min-width: 2.875rem;
  min-height: 2.175rem;

  padding-right: 1.25rem;
  padding-left: 1.25rem;

  line-height: 2.175rem;
  font-size: 1.45rem;
  text-align: center;

  border-left: 1px solid rgba(51, 51, 51, 0.233);
  border-right: 1px solid rgba(51, 51, 51, 0.233);
}

.Header .ButtonBar .header-button:hover{
  cursor: pointer;
}
