@media screen and (min-width: 900px) {
  .gallery-view .image-container {
    height: 28vh;
  }
}

@media screen and (max-width: 900px) {
  .gallery-view .image-container {
    height: 24vh;
  }
}

@media screen and (max-width: 600px) {
  .gallery-view .image-container {
    height: 20vh;
  }
}

@media screen and (max-width: 450px ) {
  .gallery-view .image-container {
    height: 16vh;
  }
}

.gallery-view {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
}

.gallery-view .image-container {
  max-width: 100%;
  flex-grow: 1;
}

.image-container .image-item {
  height: inherit;
  min-width: 100%;
}

.image-container .image-item img {
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.gallery-view .image-container:last-child {
  flex-grow: 10;
}

.gallery-view .button-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 2rem;

  width: 100%;

  padding: 1rem;

  margin-top: auto;
}

.gallery-view .button-bar .btn {
  width: 100%;
}
