.color-editor {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  width: 100%;
}

.color-editor .color-item {
  display: flex;
  min-width: 100%;
}

.color-editor .color-item .hex-input {
  border: none;
  width: 3rem;

  margin-right: 0.2rem;
  text-align: right;
}

.color-editor .color-item .hex-input:hover {
  cursor: pointer;
}

.color-editor .color-item .color-name {
  display: flex;

  padding-left: 0.5rem;
  vertical-align: middle;
  align-items: center;
}
