@media screen and (min-width: 900px) {
  .contact-view {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 2.688rem - 7.75rem);
    max-height: calc(100vh - 2.688rem - 7.75rem);
    max-width: 100%;
  }
  
  .contact-view .google-map {
    min-height: 100%;
    min-width: 60%;
    width: 100%;
    object-fit: cover;
    
    border-right: 1px solid;
  }
  
  .contact-view .contact-info {
    margin-top: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 900px) {
  .contact-view {
    height: 100%;
    padding-bottom: 2rem;
  }
  
  .contact-view .google-map {
    min-width: 100%;
    max-width: 100%;

    object-fit: cover;
    
    border-bottom: 1px solid;
  }
  
  .contact-view .contact-info {
    padding: 0;
    margin-left: 20%;
  }
}

.contact-view .contact-info p {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.contact-info .button-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  column-gap: 2rem;

  width: 100%;

  margin-top: 1rem;
}

.contact-info .button-bar .btn {
  margin-bottom: 1rem;
  width: 100%;
}
