@media screen and (min-width: 900px) {
  .Content {
    min-height: calc(100vh - 2rem - 9.75rem);
  }
}

@media screen and (max-width: 900px) {
  .Content {
    min-height: calc(100vh - 2rem - 11.875rem);
  }
}

.App {
  overflow-x: hidden;
  overflow-y: hidden;
}

.Content {
  margin-left: 10%;
  margin-right: 10%;
}

a {
  text-decoration: none;
  color: black;
}
