@media screen and (min-width: 640px) {
  .personal-card {
    width: 40%; 
  }
}

@media screen and (max-width: 640px) {
  .personal-card {
    width: 80%; 
  }
}

.personal-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
  border: 2px solid;
  border-radius: 5px;
}

.personal-card h2 {
  margin: 0;
  margin-top: 1rem;
  padding-left: 1rem;
  
  text-align: left;
}

.personal-card .description {
  margin: 0;
  padding: 1rem;
  padding-top: 0.5rem;

  text-align: justify;
  vertical-align: middle;
  font-size: 1.2rem;
  font-weight: 360;
}

.personal-card .custom-galleria {
  height: 16rem;
}

.p-galleria-content, .p-galleria-item-wrapper, .p-galleria-item-container, .p-galleria-item {
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;

  background-color: black;
}

.p-galleria .p-galleria-item-nav {
  width: 2rem;
  height: 2rem;
}

.personal-image-block {
  height: 100%;
  display: flex;
  align-items: center;
}

.personal-image-block img {
  min-height: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.personal-image-block .fullscreen-button {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 2rem;
  height: 2rem;
  margin: 0rem;

  background-color: transparent;
  color: #fff;
  border: 0 none;
  border-radius: 0;
}

.personal-image-block .fullscreen-button:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.personal-card .custom-galleria.fullscreen {
  display: flex;
  flex-direction: column;
}

.personal-card .custom-galleria.fullscreen .p-galleria-content {
  flex-grow: 1;
  justify-content: center;
}

.custom-galleria.fullscreen .personal-image-block img {
  object-fit: scale-down;
}

.custom-galleria.fullscreen .personal-image-block .fullscreen-button {
  background-color: transparent;
  color: #fff;
  border: 0 none;
  border-radius: 0;
}

.personal-card .button-bar {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  
  width: 100%;

  margin-top: auto;
  padding: 1rem;
}

.personal-card .button-bar .btn {
  width: 100%;
}
