.login-view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.login-view p {
  min-width: 100%;
  text-align: center;
}

.login-view input {
  max-width: 12rem;
  text-align: center;
}
