.offer-view {
  height: 100%;
  padding: 4rem;
}

.offer-view p {
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 0;
}

.offer-view .description {
  margin-top: 0;
  margin-bottom: 1rem;

  text-align: justify;
}

.p-accordion .p-accordion-header .p-accordion-header-link, .p-accordion .p-accordion-header:not(.p-highlight):not(.p-disabled):hover .p-accordion-header-link, .p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
  background-color: inherit;
  border-color: inherit;
}

.p-accordion .p-accordion-header:not(.p-disabled).p-highlight:hover .p-accordion-header-link {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: inherit;

  transition: opacity .3s;
}

.p-accordion .p-accordion-content {
  background-color: inherit;
  border-color: inherit;
}

.p-accordion-content .p-galleria {
  height: 32rem;
  border: 0.2rem solid black;
}

.p-galleria-content, .p-galleria-item-wrapper, .p-galleria-item-container, .p-galleria-item {
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;

  background-color: black;
}

.p-galleria .p-galleria-item-nav {
  width: 2rem;
  height: 2rem;
}

.image-block {
  height: 100%;
  display: flex;
  align-items: center;
}

.image-block img {
  min-height: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: scale-down;
}

.p-accordion-content .button-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 2rem;

  width: 100%;

  margin-top: 1rem;
}

.button-bar .btn {
  width: 100%;
}

.new-offer {
  width: 100%;
  height: 100%;
}

.new-offer .add-offer-btn {
	min-width: 100%;
}

